@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.maincontainer {
  height: 100vh;
  font-family: helvetica;
  /*  background with 3 colours */
  background: linear-gradient(
    to right,
    rgb(22, 79, 185),
    rgba(165, 138, 20, 0.925),
    rgb(196, 14, 14)
  );
}

  /* center content */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.title {
  font-family: 'Pirata One', cursive;
  color: rgba(245, 245, 245, 0.534);
  font-size: 10vw;
  text-align: center;
}

/* starts here*/
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
}
.cover {
  transition: 0.5s all ease;
  height: 70%;
  width: 70%;
  background-color: rgba(175, 45, 45, 0.336);
  box-shadow: 5px 10px 15px 15px rgba(159, 7, 230, 0.432);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 30px;
}

@media (max-width: 700px) {
  .cover {
    height: 30%;
  }
}

/* Footer */

.footer a {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Pirata One', cursive;
  text-decoration: none !important;
}


/* Button */
  

button{
position: fixed;
  top: 50%;
  left: 45%;
  height: 70px;
  width: 150px;
  border: none;
  outline: none;
  color: white;
  background: rgba(116, 137, 204, 0.39); 
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif; 
}

button:before{
  position: fixed;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 25px; 
  z-index: -1;
  opacity: 0;
  filter: blur(10px);
  background-image: linear-gradient( 45deg, #2c8fe0ce, #00e1ffda, #00c3ffc5, #15a510c9, #a31914e3, #1d14a1af, #00a2ffb4, #00c3ffe5, #0d69d1, #be10ce);
  background-size: 600%;
  transition: opacity .20s ease-in-out;
  animation: animate 3s linear infinite;
  opacity: 0.4;
}
button:hover:before{
  opacity: 0.4;
  animation-iteration-count: infinite;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  100% { background-position: 400% 0; }
}
